<!DOCTYPE html>
<html>
<head>
	<title>Con Drill</title>
	<link rel="icon" href="../img/favicon.png">

	<!-- scripts online -->

	<script Src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <!-- scripts locales -->

	<script type="text/javascript" src="../lb/highcharts/code/modules/exporting.js"></script>
	<script type="text/javascript" src="../lb/highcharts/code/modules/offline-exporting.js"></script>
	<script type="text/javascript" src="../lb/highcharts/loader.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/graficos.css">
	<script type="text/javascript" src="../js/graficos.js"></script>

</head>
<body style="background: url('../img/fondo.png');">
	
	<div style="position: absolute;width: 70%;height: 75%;top: 0;bottom: 0;left: 0;right: 0;margin: auto;">
		<div class="contenedor-grafico">

			<select onchange="cambiarTipoGrafico(this.value,'ContenedorGrafico1')" class="grafico-tipos" title="Tipo de Grafico">
		        <option selected="" value="pie">Diagrama Circular</option>
		        <option value="pie3d">Diagrama Circular 3D</option>
		        <option value="pieinner">Diagrama Tipo Rosquilla</option>
		        <option value="bar">Diagrama de Barras Horizontal</option>
		        <option value="column">Diagrama de Barras Vertical</option>
		        <option value="column3d">Diagrama de Barras Vertical 3D</option>
		        <option value="line">Diagrama de Lineal</option>
		        <option value="area">Diagrama de Area</option>
		    </select>

			<center>
		    	<span>
		    		<div id="ContenedorGrafico1" name="ContenedorGrafico1" class="grafico"></div>
		    	</span>
		    </center>

		</div>

	<script type="text/javascript">
		
		// estructura: nombreDelDato;;porcentaje;;idDrill**nombreDelDato;;porcentaje;;idDrill**....

		var datos = 'dato1;;12;;dato1**dato2;;21;;dato2**dato3;;24;;dato3**dato4;;32;;dato4**dato5;;11;;dato5';

		// estructura: nombreDelDato;;idDrill**nombreDelDato;;idDrill**....

		var infoDrill = 'drill1;;dato1**drill2;;dato2**drill3;;dato3**drill4;;dato4**drill5;;dato5';

		// estructura para cada dato: nombreDelDato;;porcentaje;;nombreDelDato;;porcentaje....
		// estructura completa: nombreDelDato;;porcentaje;;nombreDelDato;;porcentaje**nombreDelDato;;porcentaje;;nombreDelDato;;porcentaje....

		var datosDrill = 'dri1;;35;;dri2;;25;;dri3;;40**dri1;;35;;dri2;;25;;dri3;;12;;dri4;;28**dri1;;35;;dri2;;65**dri1;;35;;dri2;;65**dri1;;35;;dri2;;65';

		pintarDiagramaDrill('pie','ContenedorGrafico1','Con Drill','Porcentaje',datos,infoDrill,datosDrill);

	</script>

</body>
</html>