<!DOCTYPE html>
<html>
<head>
	<title>Sin Drill</title>
	<link rel="icon" href="../img/favicon.png">

	<!-- scripts online -->

	<script Src="../lb/highcharts/code/highcharts.js"></script>
	<script src="../lb/highcharts/code/highcharts-3d.js"></script>
	<script src="../lb/highcharts/code/modules/cylinder.js"></script>
	<script src="../lb/highcharts/code/modules/funnel3d.js"></script>
	<script src="../lb/highcharts/code/modules/pyramid3d.js"></script>
	<script src="../lb/highcharts/code/modules/series-label.js"></script>
    <script src="../lb/highcharts/code/modules/data.js"></script>
    <script src="../lb/highcharts/code/modules/drilldown.js"></script>

    <!-- scripts locales -->

	<script type="text/javascript" src="../lb/highcharts/code/modules/exporting.js"></script>
	<script type="text/javascript" src="../lb/highcharts/code/modules/export-data.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/graficos.css">
	<script type="text/javascript" src="../js/graficos.js"></script>

</head>
<body style="background: url('../img/fondo.png');">
	
	<div style="position: absolute;width: 70%;height: 75%;top: 0;bottom: 0;left: 0;right: 0;margin: auto;">
		<div class="contenedor-grafico">
			<center>
		    	<span>
		    		<div id="ContenedorGrafico2" name="ContenedorGrafico2" class="grafico"></div>
		    	</span>
		    </center>

		</div>
	</div>

	<script type="text/javascript">
		
		// estructura: nombreDelDato;;porcentaje**nombreDelDato;;porcentaje**....

		var datos2 = 'dato1;;123**dato2;;210**dato3;;64**dato4;;102**dato5;;11';
		var configuracion = 
		{
			series:
			{
				dataLabels:
				{
					format:
					{
						tipo: 'percentage',
					}
				}
			},
			tooltip:
			{
				pointFormat:
				[
					{
						nombre: 'Cantidad',
						tipo: 'number'
					},
					{
						nombre: 'Porcentaje',
						tipo: 'percentage',
						decimales: 2
					}
				]
			}
		};
		
		pintarDiagramaCircular('pie','ContenedorGrafico2','Sin indicar el color',datos2,configuracion);

	</script>

</body>
</html>